@tailwind base;
@tailwind components;
@tailwind utilities;

.page {
  display: grid;
  grid-template-rows: 20px 1fr 20px;
  justify-items: center;
}

.main {
  grid-row-start: 2;
}

.inner {
  display: grid;
  justify-items: center;
  text-align: center;
}

.date {
  display: flex;
  align-items: center;
}

hr {
  width: 220px;
}
